.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
//------------------------------------------------------------

.hotel-view {
  flex: 1;
}
//------------------------------------------------------------
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-light-2);
}
//------------------------------------------------------------
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
}
//------------------------------------------------------------
.user-reviews {
  background-color: teal;
  flex: 1;
  margin-left: 4.5rem;
}
//------------------------------------------------------------