.layout {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and(max-width: $bp-1200) {
    margin: 0;
    max-width: 100%;
  }
}
//------------------------------------------------------------

.header {
  height: 7rem;
  background-color: #fff;
  box-shadow: inset 0px -1px var(--border-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
  z-index: 100;

  @media only screen and (max-width: $bp-500) {
    flex-flow: wrap;
    height: 11rem;
    align-content: stretch;
  }
}
//------------------------------------------------------------

.content {
  display: flex;
  flex-flow: row;

  @media only screen and (max-width: $bp-900) {
    flex-flow: column;
  }
}
//------------------------------------------------------------
