.gallery {
  font-size: 100%;
  $captionFontSize: 1.25rem;
  display: flex;

  @media screen and (max-width: $bp-600) {
    display: none;
  }

  &__item {
    display: flex;
    flex: 0 0 calc(100% / 3);
    background-color: #fff;
    position: relative;
    padding-top: calc(20% - #{$captionFontSize} - 2.5rem);

    @media screen and (max-width: $bp-600) {
      flex: 1;
      height: 100%;
      padding-top: 0;
    }

    &:hover .gallery__caption {
      opacity: 0.9;
    }
  }

  &__photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    backface-visibility: hidden;

    @media screen and (max-width: $bp-600) {
      position: static;
      object-fit: cover;
      object-position: center;
      top: unset;
      left: unset;
    }
  }

  &__caption {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
    color: #fff;
    font-size: $captionFontSize;
    line-height: 1;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 1.25rem;
    padding: 1.25rem 0;
    padding-right: 2rem;
    text-shadow: 1px 1px 1px black;
    opacity: 0;
    transition: all 0.2s ease-out;

    @media screen and (max-width: $bp-600) {
      position: absolute;
      bottom: 25%;
      right: 0;
      width: 50%;
      padding: 2.25rem;
      font-size: 1.8rem;
      opacity: 1;
    }
  }
}
//------------------------------------------------------------
