.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
//////////////////////////////////////////////////////////////

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }
//////////////////////////////////////////////////////////////

  &__stars {
    display: flex;
    align-items: center;
  }
//////////////////////////////////////////////////////////////

  &__location {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    button {
      margin-left: .5rem;
    }
  }
//////////////////////////////////////////////////////////////

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }
//////////////////////////////////////////////////////////////

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    padding: 0 2.25rem;
    color: #fff;
    align-self: stretch;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &-count {
      font-size: .8rem;
      text-transform: uppercase;
      margin-top: -3px;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
    }
  }
  //////////////////////////////////////////////////////////////
}
//------------------------------------------------------------