.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  z-index: 0;

  @media only screen and (max-width: $bp-500) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  //////////////////////////////////////////////////////////////

  //disable focus border when hovering over any elements
  &:hover *:focus {
    box-shadow: none;

    //disable on touch screens
    @media screen and (hover: none) {
      box-shadow: none;
    }
  }

  //whenever element or it's children are focused:
  //on hover
  //remove focus border
  &:focus-within {
    &:hover {
      box-shadow: none;
    }

    //search bar:
    //resize
    & .search__input {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      //remove focusborder when not focused
      &:not(:focus) {
        box-shadow: none;
      }
      // search recommendations
      //resize
      & ~ .search__suggested {
        width: 100%;
      }
    }
  }

  //whenever element or it's children are focused:
  //and user is typing in the search bar
  //show the search recommendations dropdown
  &:focus-within &__input:not(:placeholder-shown) ~ &__suggested {
    visibility: visible;
    padding-top: 1.75rem; // to push the list down further down the container below the search bar
    width: 100%;
    height: calc(
      500% + 2.45rem
    ); // 1.75rem + .7rem = 2.45rem on the bottom of the container
    background-color: var(--color-grey-light-3);
    transition: width 0.2s ease-out, height 0.2s ease-out 0.1s,
      padding 0.2s ease-out 0.1s, visibility 0.3s ease-out;
  }

  //onfocusout
  //search recommendations dropdown
  //visibility animation delay
  //to show fold animation
  &:not(:focus-within) &__input:not(:placeholder-shown) ~ &__suggested {
    visibility: hidden;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.1s,
      padding 0.2s ease-out 0.1s, visibility 0s ease-out 0.3s;
  }
  //////////////////////////////////////////////////////////////

  //search bar
  &__input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    padding-right: 10%;
    width: 90%;
    transition: all 0.2s ease-out;
    position: relative;
    z-index: 1;

    //on focus
    &:focus {
      @include focusBorder();
    }

    //placeholder
    &::placeholder {
      @include placeholder;
    }
    &::-ms-input-placeholder {
      @include placeholder;
    }

    @media only screen and (max-width: $bp-900) {
      padding-right: 12.5%;
    }

    @media only screen and (max-width: $bp-600) {
      padding-right: 15%;
    }

    @media only screen and (max-width: $bp-500) {
      width: 100%;
    }
  }
  //////////////////////////////////////////////////////////////

  //search button
  &__button {
    position: relative;
    border: none;
    background: transparent;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 10%;
    margin-left: -10%;
    z-index: 3;
    transition: all 0.2s ease-out;
    cursor: pointer;

    //round borders on the right to match input shape
    @include roundedBorders($tr: 50%, $br: 50%);

    //on focus
    &:focus {
      background: transparent;

      @include focusBorder();
      //change icon color
      .search__icon {
        fill: var(--color-primary);
      }
    }

    //on click
    &:active {
      transform: translateY(0.2rem);
      background: transparent;
    }

    //on hover
    &:hover {
      //change icon color
      .search__icon {
        fill: var(--color-primary);
      }
    }

    @media only screen and (max-width: $bp-900) {
      width: 12.5%;
      margin-left: -12.5%;
    }

    @media only screen and (max-width: $bp-600) {
      width: 15%;
      margin-left: -15%;
    }
  }
  //////////////////////////////////////////////////////////////

  //search icon
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
  //////////////////////////////////////////////////////////////

  //recommended search list dropdown container
  &__suggested {
    position: absolute;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding-top: 0;
    width: 90%;
    height: 0;
    top: 50%;
    overflow: hidden;
    box-shadow: var(--shadow-light);
    visibility: hidden;

    //border rounding mixin
    @include roundedBorders(
      $br: #{$rounded-border-light},
      $bl: #{$rounded-border-light}
    );

    @media only screen and (max-width: $bp-500) {
      width: 100%;
    }
  }
  //////////////////////////////////////////////////////////////

  //dropdown list
  &__list {
    list-style-type: none;
    position: relative;
    z-index: 2;

    //list items
    &-item {
      transition: all 0.2s ease-out;

      //links in the list
      &:link,
      &:visited {
        @include placeholder;
        padding: 0.7rem 2rem;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        display: block;
        text-decoration: none;
      }

      //on hover
      //on focus
      &:hover,
      &:focus {
        color: inherit;
        background-color: var(--color-grey-light-1);
      }

      //focus border
      &:focus {
        @include focusBorder(inset);
      }
    }
  }
  //////////////////////////////////////////////////////////////
}
//------------------------------------------------------------
