.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-900) {
    margin: 0;
    display: flex;
  }
  //////////////////////////////////////////////////////////////

  &__item {
    position: relative;

    @media only screen and (max-width: $bp-900) {
      display: flex;
      flex: 1;
      justify-content: center;
    }

    &:not(:first-child) {
      margin-top: 0.5rem;

      @media only screen and (max-width: $bp-900) {
        margin: 0;
      }
    }

    //hover state pink bg
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      transition: transform 0.2s ease-out,
        width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s ease-out;
      transform: scaleY(0);
      z-index: 1;
    }
    //animation of the pink hover bg
    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
    //onclick pinkpier bg
    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  //////////////////////////////////////////////////////////////
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all 0.2s ease-out;
    position: relative;
    z-index: 2;
    width: 100%;

    @media only screen and (max-width: $bp-900) {
      padding: 2.5rem 0.5rem;
      justify-content: center;
    }

    @media only screen and (max-width: $bp-600) {
      flex-flow: column;
    }

    &:hover {
    }

    & > span {
      margin-left: 2rem;

      @media only screen and (max-width: $bp-600) {
        margin: 0;
        margin-top: 0.6rem;
      }
    }
  }
  //////////////////////////////////////////////////////////////

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-600) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
//------------------------------------------------------------
