.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem;
//////////////////////////////////////////////////////////////

  &__item {
    position: relative;

    &:not(:first-child) {
      margin-top: .5rem;
    }

//hover state pink bg
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width:3px;
      height: 100%;
      background-color: var(--color-primary);
      transition: transform .2s ease-out, width .2s cubic-bezier(1,0,0,1) .2s, background-color .1s ease-out;
      transform: scaleY(0);
      z-index: 1;
    }
//animation of the pink hover bg 
    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
//onclick pinkpier bg
    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

//////////////////////////////////////////////////////////////
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all .2s ease-out;
    position: relative;
    z-index: 2;

    &:hover {
    }

    & > span {
      margin-left: 2rem;
    }
  }
//////////////////////////////////////////////////////////////

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
  }
}
//------------------------------------------------------------