.user-nav {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  position: relative;
  background-color: #fff;
  //////////////////////////////////////////////////////////////

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  //////////////////////////////////////////////////////////////

  &__icon-box {
  }
  //////////////////////////////////////////////////////////////

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }
  //////////////////////////////////////////////////////////////

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  //////////////////////////////////////////////////////////////

  &__user {
    &-photo {
      height: 3.75rem;
      border-radius: 50%;
    }

    &-name {
      margin-left: 1rem;
    }
  }
  //////////////////////////////////////////////////////////////

  //Show dropdowns on hover
  //@ components/user-menu.scss
  //@ components/user-messages.scss
  &__user:hover .user-menu,
  &__icon-box-messages:hover .user-messages,
  &__user:focus-within .user-menu,
  &__icon-box-messages:focus-within .user-messages {
    display: flex;
  }
  //////////////////////////////////////////////////////////////
}
//------------------------------------------------------------
